term-common.wsdl

<?xml version="1.0"?>
<!-- $Id$ -->

<!--
 ** （複数）用語体系ブラウジングシステムのサービスを行うための WSDL 記述 **
-->

<definitions name="Term"
             targetNamespace="urn:Term"
             xmlns:typens="urn:Term"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Types  -->
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="urn:Term">

      <xsd:complexType name="WordSearchResult">
        <xsd:all>
          <xsd:element name="exactMatchElements"  type="typens:NodeArray"/>
          <xsd:element name="substrMatchElements" type="typens:NodeArray"/>
	</xsd:all>
      </xsd:complexType>

      <xsd:complexType name="NodeArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Node[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="Node">
        <xsd:all>
	  <xsd:element name="name"   type="xsd:string"/>
	  <xsd:element name="idref"  type="xsd:string"/>
	</xsd:all>
      </xsd:complexType>

      <xsd:complexType name="WordArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Word[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="Word">
        <xsd:all>
	  <xsd:element name="name"   type="xsd:string"/>
	  <xsd:element name="id"     type="xsd:string"/>
	  <xsd:element name="origin" type="xsd:anyURI"/>
	  <xsd:element name="parent" type="typens:NodeArray"/>
	  <xsd:element name="child"  type="typens:NodeArray"/>
	</xsd:all>
      </xsd:complexType>

    </xsd:schema>
  </types>

  <!-- Messages -->

  <message name="doWordSearch">
    <part name="term"            type="xsd:string"/>
  </message>

  <message name="doWordSearchResponse">
    <part name="return"          type="typens:WordSearchResult"/>
  </message>

  <message name="getWordList">
    <part name="id"              type="xsd:string"/>
  </message>

  <message name="getWordListResponse">
    <part name="return"          type="typens:WordArray"/>
  </message>

  <!-- Port -->

  <portType name="TermPort">

    <operation name="doWordSearch">
      <input message="typens:doWordSearch"/>
      <output message="typens:doWordSearchResponse"/>
    </operation>

    <operation name="getWordList">
      <input message="typens:getWordList"/>
      <output message="typens:getWordListResponse"/>
    </operation>

  </portType>


  <!-- Binding -->

  <binding name="TermBinding" type="typens:TermPort">
    <soap:binding style="rpc"
                  transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="doWordSearch">
      <soap:operation soapAction="urn:TermAction"/>
      <input>
        <soap:body use="encoded"
                   namespace="urn:Term"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded"
                   namespace="urn:Term"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>

    <operation name="getWordList">
      <soap:operation soapAction="urn:TermAction"/>
      <input>
        <soap:body use="encoded"
                   namespace="urn:Term"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded"
                   namespace="urn:Term"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>

  </binding>

</definitions>
